---
import Layout from '../layouts/Layout.astro';
import CompileAndTextArea from '../components/CompileAndTextArea.jsx';
---

<Layout title="Welcome to Astro">
	<main class="flex items-center justify-center bg-stone-900 w-full h-full">
        <div class="text-7xl text-zinc-200 h-full font-mono" >
            <CompileAndTextArea client:visible/>
        </div>
	</main>
</Layout>